.Application {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template:
		"header header"
		"sidebar main";
	grid-template-rows: min-content auto;
	grid-template-columns: min-content 1fr;
}

.Application > .Header {
	grid-area: header;
}

.Application > .Sidebar {
	grid-area: sidebar;
}

.Application > main {
	grid-area: main;
	overflow: scroll;
}

.Application__loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	background: var( --color-primary );
	transition: opacity 300ms;

	pointer-events: none;
}

.Application__loader .Logo {
	height: 6em;
	color: #fff;
}

.Application__loader--loading {
	opacity: 1;
	pointer-events: all;
	animation: logo-pulse 1.5s infinite ease-out;
}

@keyframes logo-pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
