.Welcome {
	background: var( --color-primary );
	color: var( --color-quaternary );
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 26px;
	height: 100vh;
}

.Welcome__step {
	min-height: 40vh;
	width: 500px;
}
