.platform-windows .Header-WindowControls {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	text-align: center;
	z-index: 3000;
	-webkit-app-region: no-drag;
	height: 100%;
	width: 138px;
	margin-left: auto;
}

.platform-windows .Header-WindowControls__control {
	display: inline-block;
	height: 100%;
	width: 46px;
	font-size: 10px;
	line-height: 28px;
	border: 0;
	outline: 0;
	background-color: transparent;

	color: #ccc;
}

/* todo: inactive: rgba( 204, 204, 204, 0.6 ) */

.platform-windows .Header-WindowControls__control:hover {
	background-color: rgba(87, 44, 44, 0.1);
}

.platform-windows .Header-WindowControls__close:hover {
	background-color: rgba(232, 17, 35, 0.9);
}
