:root {
	/* https://coolors.co/4281a4-ffffff-f9c784-fcaf58-ff8c42 */
	/* --color-primary: #4281a4;
	--color-secondary: #fcaf58;
	--color-tertiary: #f9c784;
	--color-quaternary: #ff8c42;
	--color-text-light: #75a3bc;
	*/

	/*
	  THEME COLORS

	  https://colorhunt.co/palette/177866
	*/
	--color-primary: #204051;
	--color-secondary: #3b6978;
	--color-tertiary: #84a9ac;
	--color-quaternary: #cae8d5;

	/*
	  UTILTY COLORS

	  These colors are used for various utility purposes, and aren't
	  necessarily linked to the theme.
	*/
	/* Chrome */
	--color-background-content: #fff;
	--color-background-chrome: #f5f5f5;
	--color-hover-shadow: #cccccc;
	--color-border-light: #dce8ee;

	/* Text */
	--color-text-light: var( --color-tertiary );

	/* Buttons */
	--color-button-background: rgba( 255, 255, 255, 0.1 );
	--color-button-active-background: rgba( 255, 255, 255, 0.2 );
	--color-button-hover-background: rgba( 255, 255, 255, 0.1 );

	/*
	  DERIVED VARIABLES

	  These variables flow from the main colors, but can be overridden
	  as necessary.
	*/

	/* Header */
	--color-header-background: var( --color-primary );
	--color-header-text: var( --color-quaternary );
	--color-header-border-bottom: none;
	--color-header-shadow: rgba( 0, 0, 0, 0.2 );
	--color-header-button-background: transparent;
	--color-header-button-active-background: var( --color-button-active-background );
	--color-header-button-hover-background: var( --color-button-hover-background );
	--color-header-button-border: none;

	/* Sidebar */
	--color-sidebar-background: var( --color-secondary );
	--color-sidebar-text: #fff;
	--color-sidebar-folder-background: transparent;
	--color-sidebar-folder-active-background: var( --color-button-active-background );
	--color-sidebar-folder-hover-background: var( --color-button-hover-background );

	/* Preferences */
	--color-prefs-background: var( --color-primary );
	--color-prefs-nav-background: transparent;
	--color-prefs-nav-active-background: var( --color-button-active-background );
	--color-prefs-nav-hover-background: var( --color-button-hover-background );
}

html, body, #main {
	margin: 0;
	padding: 0;
	height: 100%;

	font-size: 14px;
	line-height: 1.4;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	background: var( --color-background-chrome );
	user-select: none;
}

*, *::before, *::after {
	box-sizing: border-box;
}
